<section class="container slider">
    <div class="row" >

        <img src='../../../assets/p1.jpg' style="max-width: 100px;" class="m-5 rounded-circle image">
    
        <img src='../../../assets/p3.jpg' style="max-width: 100px;" class="m-5 ml-auto rounded-circle image" >
    
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
     
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container mb-3 ml-5">
                    <div class="d-flex justify-content-center">
                      <img class="card-img-top rounded-circle" src="../../../assets/p1.jpg" alt="Card image cap" style="max-width: 100px;">
                    </div>
                      <div class="card-body ">
                        <h4 class="card-text col-9 offset-1 d-flex justify-content-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h4>
                   
                        <div class="d-flex justify-content-center ">
                     <h3 class="pt-4" >Ahmed Nasser</h3>
                    </div>
                      </div>
                    </div>
            </div>
            <div class="carousel-item">
                <div class="container mb-3 ml-5">
                    <div class="d-flex justify-content-center">
                      <img class="card-img-top rounded-circle" src="../../../assets/p2.jpg" alt="Card image cap" style="max-width: 100px;">
                    </div>
                      <div class="card-body ">
                        <h4 class="card-text col-9 offset-1 d-flex justify-content-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h4>
                   
                        <div class="d-flex justify-content-center ">
                            <h3 class="pt-4" >Farah Amr</h3>
                           </div>
                      </div>
                    </div>
            </div>
            <div class="carousel-item">
                <div class="container mb-3 ml-5">
                    <div class="d-flex justify-content-center">
                      <img class="card-img-top rounded-circle" src="../../../assets/p3.jpg" alt="Card image cap" style="max-width: 100px;">
                    </div>
                      <div class="card-body ">
                        <h4 class="card-text col-9 offset-1 d-flex justify-content-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h4>
                   
                        <div class="d-flex justify-content-center ">
                            <h3 class="pt-4" >Yassin Amr</h3>
                           </div>
                      </div>
                    </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <i style="color:rgb(119, 245, 172); text-decoration: none;"
              class="fa fa-chevron-circle-left fa-2x d-flex justify-content-center"></i>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <i style="color:rgb(119, 245, 172); text-decoration: none;"
              class="fa fa-chevron-circle-right fa-2x d-flex justify-content-center"></i>
          </a>
        </div>
    
        <div class="row">

            <img src='../../../assets/p2.jpg' style="max-width: 100px;" class="m-5 rounded-circle image">
        
            <img src='../../../assets/p1.jpg' style="max-width: 100px;" class="m-5 ml-auto rounded-circle image" >
        
          </div>
      
 
</section>


