<section class="container-fluid">
<div class="row">
  <div class="overflow-hidden" >
  <img src="../../../assets/1.png" style="max-width: 100px;" class="overflow-hidden">
</div>
<section class="container discuss overflow-hidden" >
<div class="row overflow-hidden">
<div class="text col-5">
<h2 class="text-light ">Let's Discuss</h2>
<h6 class="text-light ">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor.</h6>
</div>

     <div class="input-group mb-3 col pb-5 text col-7">
            <input type="text" class="form-control" placeholder="Enter E-mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-g" type="button">Button</button>
            </div>
          </div>
</div>
</section>
</div>
</section>
