<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
                <div class="card-group container ">
                
                        <div class="card mr-5 ml-2 " *ngFor='let data of data'>
                          <img src="{{data.img}}" class="card-img-top" alt="...">
                          <div class="card-body">
                                <h6 class="card-title">{{data.title}}</h6>
                            <h4 class="card-title">{{data.title}}</h4>
                            <p class="card-text">{{data.description}}</p>
                          </div>
                          <div class="card-footer d-flex overflow-hidden">
                                <img src="{{data.profile}}" class="card-img-top rounded-circle " alt="..." style="max-height: 50px; max-width: 50px;">
                            <h5 class="ml-2 mr-4 mt-2">{{data.name}}</h5>
                       <div class="x">
                            <i class="far fa-thumbs-up "></i> 
                            <span class="mr-5 mt-2">90</span>
                       </div>
                                
                        
                            
                         <div class="x">
                                <i class="far fa-comment"></i>
                                <span class="mt-2">120</span>
                         </div>
                        
                          </div>
                        </div>
              
                      </div>
          </div>
          <div class="carousel-item">
                <div class="card-group container ">
                
                        <div class="card mr-5 ml-2 " *ngFor='let data of data'>
                          <img src="{{data.img}}" class="card-img-top" alt="...">
                          <div class="card-body">
                                <h6 class="card-title">{{data.title}}</h6>
                            <h4 class="card-title">{{data.title}}</h4>
                            <p class="card-text">{{data.description}}</p>
                          </div>
                          <div class="card-footer d-flex overflow-hidden">
                                <img src="{{data.profile}}" class="card-img-top rounded-circle " alt="..." style="max-height: 50px; max-width: 50px;">
                            <h5 class="ml-2 mr-4 mt-2">{{data.name}}</h5>
                       <div class="x">
                            <i class="far fa-thumbs-up "></i> 
                            <span class="mr-5 mt-2">90</span>
                       </div>
                                
                        
                            
                         <div class="x">
                                <i class="far fa-comment"></i>
                                <span class="mt-2">120</span>
                         </div>
                        
                          </div>
                        </div>
              
                      </div>
          </div>
          <div class="carousel-item">
                <div class="card-group container ">
                
                        <div class="card mr-5 ml-2 " *ngFor='let data of data'>
                          <img src="{{data.img}}" class="card-img-top" alt="...">
                          <div class="card-body">
                                <h6 class="card-title">{{data.title}}</h6>
                            <h4 class="card-title">{{data.title}}</h4>
                            <p class="card-text">{{data.description}}</p>
                          </div>
                          <div class="card-footer d-flex overflow-hidden">
                                <img src="{{data.profile}}" class="card-img-top rounded-circle " alt="..." style="max-height: 50px; max-width: 50px;">
                            <h5 class="ml-2 mr-4 mt-2">{{data.name}}</h5>
                       <div class="x">
                            <i class="far fa-thumbs-up "></i> 
                            <span class="mr-5 mt-2">90</span>
                       </div>
                                
                        
                            
                         <div class="x">
                                <i class="far fa-comment"></i>
                                <span class="mt-2">120</span>
                         </div>
                        
                          </div>
                        </div>
              
                      </div>
          </div>
        </div>
      </div>
