<section class="container-fluid footer">
   <div class="row">
       <div class="mt-5 ">
           <img src = '../../../assets/logo1.png' class="p-2">
           <p class="p-2">©Copyrights 2019 Markethon</p>
           <div class="row mb-3">
            <i class="fas fa-globe col-1 ml-2 mr-2"></i>
            <select id="inputState" class="ml-2 mr-2">
                <option selected>English</option>
                <option>Arabic</option>
                <option>Turkish</option>
                <option>Deutsch</option>
                <option>French</option>
              </select>

          
              <i class="fab fa-facebook-f fa-5px pr-2 icon "></i>
              <span class="dot pr-2"></span> 
    
              <i class="fab fa-twitter fa-5px pl-3 pr-3 icon"></i>
              <span class="dot pr-2"></span> 
    
              <i class="fab fa-linkedin-in fa-5px pl-3 pr-3 icon"></i>
              <span class="dot"></span> 
              <i class="fab fa-youtube fa-5px pl-3 pr-3 icon"></i>

        </div>

        <div class="pl-2">
                <i class="fas fa-phone">930247389436</i>
                <span> | farah_elmaghraby@hotmail.com</span>
        </div>
       

       </div>
<div class="row col-4">
       <div class=" mt-5 col-6 ">
            <h3 class="font-weight-bold mb-3  ">About us.</h3>
            <ul >
                <li class="liAbout">About us</li>
                <li class="liAbout">Pricing </li>
                <li class="liAbout">Process</li> 
                <li class="liAbout">FAQ</li>
                <li class="liAbout">Team</li> 
                <li class="liAbout">Contact us</li>
                <li class="liAbout">Service</li>
            </ul>
    </div>

    <div class="mt-5  ">
            <h3 class="font-weight-bold mb-3 ">Information.</h3>
            <ul >
            
                <li class="liAbout">Pricing </li>
                <li class="liAbout">Our Clients</li> 
                <li class="liAbout">Portfolio</li>
                <li class="liAbout">Privacy Policy</li> 
                <li class="liAbout">The Team</li>
                <li class="liAbout">Our Benefits</li>
            </ul>

    </div>
</div>
    <div id="carouselExampleSlidesOnly" class="carousel slide col-5" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">

                    <div  style="width: 18rem;">
                            <div class="talk-bubble tri-right round btm-left">
                                    <div class="talktext">
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s..</p>
                                    </div>
                                  </div>
                            <div class="card-body">
                                <div class="row">

                               
                                    <i class="fab fa-twitter-square fa-3x col-3 twitter"></i>
                              <p class="card-text col-9">Design Themes</p>
                             
                            </div>
                            <span class="offset-3 text-muted">1 month ago</span>
                            </div>
                          </div>


              </div>
              <div class="carousel-item">
                    <div  style="width: 18rem;">
                            <div class="talk-bubble tri-right round btm-left">
                                    <div class="talktext">
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s..</p>
                                    </div>
                                  </div>
                            <div class="card-body">
                                <div class="row">

                               
                                    <i class="fab fa-twitter-square fa-3x col-3 twitter"></i>
                              <p class="card-text col-9">Design Themes</p>
                             
                            </div>
                            <span class="offset-3 text-muted">1 month ago</span>
                            </div>
                          </div>
              </div>

            </div>
          </div>


   </div>
</section>







