<div class="card-deck container-fluid mt-5 mb-5 ">

        <div class="card  mr-5 ml-5 " *ngFor='let data of data1' >
            <div class="row container mt-2 ml-1">            
          <img class="card-img-top" src="../../../assets/pie-chart.png" alt="Card image cap" style="max-width: 50px;">
          <h4 class="col-4 mt-2">{{data.title}} </h4>
        </div>
          <div class="card-body ml-1">
            <p class="card-text">{{data.description}}</p>
          </div>
          <div class="card-footer">
              <div class="row container">
            <small class="text-muted ">Read More</small>
            <i class="fas fa-ellipsis-h offset-10"></i>
            </div>
          </div>
        </div>

        </div>


        <div class="card-deck container-fluid mt-5 mb-5 ">

                <div class="card  mr-5 ml-5  " *ngFor='let data of data1'>
                    <div class="row container mt-2 ml-1">            
                  <img class="card-img-top" src="../../../assets/pie-chart.png" alt="Card image cap" style="max-width: 50px;">
                  <h4 class="col-4 mt-2">{{data.title}} </h4>
                </div>
                  <div class="card-body ml-1">
                    <p class="card-text">{{data.description}}</p>
                  </div>
                  <div class="card-footer">
                      <div class="row container">
                    <small class="text-muted ">Read More</small>
                    <i class="fas fa-ellipsis-h offset-10"></i>
                    </div>
                  </div>
                </div>
        
                </div>
        
