<section class="container-fluid footer " *ngIf='footerService.isHidden'>
   
</section>

<section class="container-fluid footerrow" *ngIf='footerService.isHidden'>
    <section class="container">
  <div class="row">
      <div class="col-4">
          <img src='../../../assets/logo.png' class="mb-5">
          <h5 class=" mb-5">Contrary to popular belief, Lorem 
              Ipsum is not simply random text.</h5>
          <button type="button" class="btn" ><span class="font-weight-bold ">Subscribe Today</span></button>
      </div>

      <div class="col-4 mt-5">
           
            <h3 class="font-weight-bold mb-3">Subscribe Newsletter.</h3>
            <!-- Material input -->
            <mat-form-field class="example-full-width mb-3">
                    <input matInput value="Enter your email">
                  </mat-form-field>

                  <div class="text-light font-weight-bold pl-2  row">
                        <i class="fab fa-facebook-f fa-5px pr-1"></i> <span class="pr-2">Facebook</span>
                        <i class="fab fa-twitter fa-5px pr-1"></i> <span class="pr-2">Twitter</span>
                        <i class="fab fa-linkedin-in fa-5px pr-1"></i> <span class="pr-2">Linkedin</span>
                        <i class="fab fa-youtube fa-5px pr-1"></i> <span class="pr-2">Youtube</span>
                        </div>

        </div>

        <div class="col-4 mt-5  ">
                <h3 class="font-weight-bold mb-3 offset-4 ">Navigation.</h3>
                <ul class="offset-4">
                    <li>About us</li>
                    <li>Pricing </li>
                    <li>Process</li> 
                    <li>FAQ</li>
                    <li>Team</li> 
                    <li>Contact us</li>
                    <li>Service</li>
                </ul>
        </div>

      </div>

      <footer>
            <div class="text-center">&copy; COPY RIGHTS RESERVED</div>
        </footer>
    </section>
    </section>
