<section class="container">
    <div class="row">
<div class="col-md-5 col-12">
    <h3>Get In Touch</h3>
    <h4 class="text-muted mb-5">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor.</h4>
  
    <div class="row">
       <i class="fas fa-map-marker  mr-2 mb-4"></i> 
        <span > <h6 class="text-muted"> Carol J. Stephens 1635 Franklin, Montgomery,
            AL 36104 USA</h6></span> 
    </div>
       
        <div class="row">
            <i class="fas fa-envelope mr-2 mb-4"></i> 
            <span> <h6 class="text-muted ">farah_elmaghraby@hotmail.com</h6> </span> 
        </div>
     
        <div class="row">
           <i class="fas fa-phone mr-2 mb-4"></i>
            <span><h6 class='text-muted'>92101920082</h6></span> 
          </div>
          <i class="fab fa-facebook-f fa-5px pr-2 icon "></i>
          <span class="dot pr-2"></span> 

          <i class="fab fa-twitter fa-5px pl-3 pr-3 icon"></i>
          <span class="dot pr-2"></span> 

          <i class="fab fa-linkedin-in fa-5px pl-3 pr-3 icon"></i>
          <span class="dot"></span> 
          <i class="fab fa-youtube fa-5px pl-3 pr-3 icon"></i>
</div>
  <!--Grid column-->
  <div class="col-md-7 col-12 mb-4">
      <span><h3 class="font-weight-bold">How to find us</h3></span>
         
             <!--Google map-->
              <div id="map-container-google-8" class="z-depth-1-half map-container-5" >
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110502.60389552666!2d31.188423585500136!3d30.059618470287788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2sCairo%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1575314066057!5m2!1sen!2seg"
                   width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      
            </div>
        
 
      </div>
    </div>
</section>






