<section class="container">
    <div class="row ">

            <div class="card text-white  mb-3  mr-auto ml-auto " style="max-width: 18rem;" *ngFor = 'let p of arr'>
                    <div class="card-header p-3 bgColor text-center">
                          <h3>STARTER</h3>
                          <p>$99<sub>per/month</sub></p>
                       
                    </div>
                    <div class="card-body text-muted text-center p-5">
                  
                            <i class="fa fa-check btn-circle mb-2 " ></i> <span class="font-weight-bold pl-2">1GB of space</span>   
                            <br>
                            <i class="fa fa-check btn-circle mb-2" ></i> <span class="font-weight-bold pl-2">1GB of space</span>   
                            <br>
                            <i class="fa fa-check btn-circle mb-2" ></i> <span class="font-weight-bold pl-2">1GB of space</span> 
                            <br>
                            <i class="fa fa-check btn-circle mb-2" ></i> <span class="font-weight-bold pl-2">1GB of space</span>  
                            <br>
                            <i class="fa fa-check btn-circle mb-2" ></i> <span class="font-weight-bold pl-2">1GB of space</span> 
                            <br>
                            <i class="fa fa-check btn-circle mb-4" ></i> <span class="font-weight-bold pl-2">1GB of space</span>
                           
                  
                  
                  <button type="button" class="btn  bgColor mr-auto ml-auto mint" >Subscribe Today</button>
                  
                    </div>
                    </div>
                  
    </div>
</section>


