<section class="container mt-5 mb-5">
    <article class="row">
        
<form class="row"> 
        <div class="col-7">
  <span><h3 class=" col font-weight-bold ">Contact Form</h3></span>
 
    <div class="col pb-5">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col pb-5">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
    <div class="col pb-5">
      <input type="text" class="form-control" placeholder="Email Adress">
    </div>
    <div class="col pb-5">
      <input type="text" class="form-control" placeholder="Phone number">
    </div>
    <div class="col pb-5 d-flex justify-content-center">
            <button type="button" class="btn  btn-lg font-weight-bold">SEND MESSAGE</button>
            </div>
</div>
    <div class="col-md-4 pb-5 mt-5">
    <textarea  placeholder="Last name" rows="7" cols="65"></textarea>
      </div>
   
   </form>




</article>

</section>
