<section class="container height ">
        <div class="row">
          <div class="col-md-4">
              <h2 class="font-weight-bold">Check What's Our Client Say</h2>
              <p class="text-muted"> Progravida nibh vel velit auctor alinean sollicitudin.</p>
          </div>
    
      
         
          <div id="carouselExampleSlidesOnly " class="carousel slide col-md-8" data-ride="carousel">
               
              <div class="carousel-inner" >
                   
                <div class="carousel-item active">
                      
                    <div class="row ">
                            
                        <div class="col-sm-6 " *ngFor='let data of data'>
                                
                          <div class="card" >
                               
                            <div class="card-body " > 
                                    <div class="d-flex justify-content-center pt-2 pb-3" >
                                            <img src="{{data.img}}" class="rounded-circle" style="max-height: 100px; max-width: 100px;" >
                                        </div> 
                              <h5 class="card-title">{{data.title}}</h5>
                              <p class="card-text">{{data.description}}</p>
                             <span><h3>{{data.name}}</h3></span>
                            </div>
                          </div>
                        </div>
                
                      </div>
    
                </div>

                
                <div class="carousel-item">
                  <div class="row">
                        <div class="col-sm-6 " *ngFor='let data of data1'>
                                
                                <div class="card" >
                                     
                                  <div class="card-body " > 
                                          <div class="d-flex justify-content-center pt-2 pb-3" >
                                                  <img src="{{data.img}}" class="rounded-circle" style="max-height: 100px; max-width: 100px;" >
                                              </div> 
                                    <h5 class="card-title">{{data.title}}</h5>
                                    <p class="card-text">{{data.description}}</p>
                                   <span><h3>{{data.name}}</h3></span>
                                  </div>
                                </div>
                              </div>
      </div>
                </div>

                
                <div class="carousel-item">
                    <div class="row">
                    
                                <div class="col-sm-6 " *ngFor='let data of data'>
                                
                                        <div class="card" >
                                             
                                          <div class="card-body " > 
                                                  <div class="d-flex justify-content-center pt-2 pb-3" >
                                                          <img src="{{data.img}}" class="rounded-circle" style="max-height: 100px; max-width: 100px;" >
                                                      </div> 
                                            <h5 class="card-title">{{data.title}}</h5>
                                            <p class="card-text">{{data.description}}</p>
                                           <span><h3>{{data.name}}</h3></span>
                                          </div>
                                        </div>
                                      </div>
                </div>
              </div>
            </div>
            </div>
        </div>
            </section>
