<app-navservice></app-navservice>

<!--About us-->
<section class=" container top">
        <div class="row ">

                <div class="col-md-6 col-sm-12">
                        <img src="../../../assets/ser.jpg">
                    </div>

            <div class="col-md-6 col-sm-12 ">
                   <h1 class="font-weight-bold  mb-5">
                        Media Growth Agency</h1>
                        <h5 class="mt-5 mb-2 text-muted">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</h5>
        
                                <button type="button" class="btn btn-info btn-circle mt-2 "><i class="fa fa-check"></i></button> <span class="font-weight-bold pl-2">  Simply dummy text of the Lorem Ipsum is printing.</span>
                                <br>
                                <button type="button" class="btn btn-info btn-circle mt-2"><i class="fa fa-check"></i></button> <span class="font-weight-bold pl-2">  Dummy text of the printing and typesetting industry.</span>
                                <br>
                                <button type="button" class="btn btn-info btn-circle mt-2"><i class="fa fa-check"></i></button> <span class="font-weight-bold pl-2">  Text of the printing and typesetting industry.</span>
                                <br>
                                <button type="button" class="btn btn-info btn-circle mt-2"><i class="fa fa-check"></i></button> <span class="font-weight-bold pl-2">  Ipsum has been the industry's standard dummy.</span>
                  
                        
            </div>
                       
                            
    </div>
    
    </section>

    <!--Another about section-->

    <section class=" container top">
            <div class="row ">
    

                <div class="col-md-6 col-sm-12 mt-5 ">
                       <h1 class="font-weight-bold  mb-5">
                            Social Media Growth Agency</h1>
                            <h5 class="mt-5 mb-2 text-muted">
                                Progravida nibh vel velit auctor alinean sollicitudin, 
                                lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.
                                lorem quis bibendum auctor.</h5>
            
                                <h5 class="mt-5 mb-2 text-muted">
                                        Progravida nibh vel velit auctor alinean sollicitudin, 
                                        lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.
                                        lorem quis bibendum auctor.</h5>
                   
                      
                            
                </div>
                           
                <div class="col-md-6 col-sm-12">
                        <img src="../../../assets/s.jpg">
                    </div>
    
                    
        </div>
        
        </section>
<app-cardsnew></app-cardsnew>
<app-slidenew></app-slidenew>
<app-discuss></app-discuss>
<app-footernew></app-footernew>