<section class="navContact container-fluid" >
        <div class="row">
            <div class="col-3" >
                <img src="../../../assets/logo1.png" class="mt-5" >
            </div>
    
    
            <nav class="navbar navbar-expand-lg col-5 " >
    
                <div class="collapse navbar-collapse  mt-0 pt-0 " id="navbarNavDropdown">
                  <ul class="navbar-nav ">
                    <li class="nav-item active  ">
                      <a class="nav-link homeHover font-weight-bold" routerLink=''>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link font-weight-bold contact pr-2 homeHover" routerLink='contact' routerLinkActive='active' id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="#">About</a>
                              <a class="dropdown-item" href="#">Other Pages</a>
                              <a class="dropdown-item" href="#">Services</a>
                              <a class="dropdown-item" href="#">Services</a>
                              <a class="dropdown-item" href="#">Team</a>
                              <a class="dropdown-item" href="#">Login</a>
                              <a class="dropdown-item" href="#">FAQ</a>
                            </div>
                          </li>
            
                          <li class="nav-item dropdown pr-2">
                                <a class="nav-link font-weight-bold homeHover" href='#' routerLinkActive='active' id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Portoflio
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="#">Portoflio Detalis</a>
                                  <a class="dropdown-item" href="#">Portoflio2 column</a>
                                  <a class="dropdown-item" href="#">Portoflio3 column</a>
                                  <a class="dropdown-item" href="#">Portoflio4 column</a>
                                  <a class="dropdown-item" href="#">Portoflio5 column</a>
                                
                                </div>
                              </li>
            
                              <li class="nav-item dropdown pr-2">
                                    <a class="nav-link font-weight-bold homeHover" routerLink='/blog'routerLinkActive='active' id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Blogs
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                      <a class="dropdown-item" href="#">Blog Detalis</a>
                                      <a class="dropdown-item" href="#">Blog Grid</a>
                                      <a class="dropdown-item" href="#">Blog List</a>
                                    </div>
                                  </li>

                 <li class="nav-item ">
                 <a class="nav-link  font-weight-bold blog "routerLink='services' routerLinkActive='active'>Services</a>
                        </li>
            
                    <li class="nav-item ">
                      <a class="nav-link  font-weight-bold homeHover" routerLink='/contact' routerLinkActive='active'>Contact Us</a>
                    </li>
            
                    

                  </ul>
           
                    
                </div>
                    
    </nav>  
    
    <div class="col-4 overflow-hidden ">
        <img src="../../../assets/02.png" class="overflow-hidden"  >
    </div>
        </div>
    
        <section class="container">
      <div class="row mt-0">
          <div class="text-contact ">
              <h1>Our Services</h1>
              
              <span class="text-muted">Home </span> 
               <span class="homeHover font-weight-bold"> . Services </span> 
              
          
            </div>
    
      <div class="ml-auto ">
          <img src='../../../assets/service.png' style="max-width:500px;" class="img-contact" >
      </div>
          
    
      </div>
    </section>
    </section>
